@font-face{
    font-family: Montserrat;
    src: url(./font/Montserrat-Bold.ttf);
}

@font-face{
    font-family: OpenSans-Bold;
    src: url(./font/OpenSans-Bold.ttf);
}

@font-face{
    font-family: OpenSans-Regular;
    src: url(./font/OpenSans-Regular.ttf);
}

:root{
    --title-font: 1.5rem Montserrat;
    --subtitle-font: 1rem OpenSans-Bold;
    --text-font: 0.875rem OpenSans-Regular;

    /*--title-color-lm: #470068;
    --title-color-dm: #dc8fff;*/
    --title-color: #000000;

    /*--text-color-lm: #000000;
    --text-color-dm: #ffffff;*/
    --text-color: #000000;

    /*--bg-lm: rgb(248, 230, 255);
    --bg-dm: rgb(48, 0, 48);*/
    --bg-color: #ffffff;

    --el-bg-color: #470068;
    --box-bg-color: #000000;
    
    --el-shadow: inset 3px 3px 30px 0px rgba(0,0,0,0.2);
    --box-shadow: 3px 3px 30px 0px rgba(0, 0, 0, 0.5);

    --el-borderRadius: 50px;
    --box-borderRadius: 20px;

    /* Button Design */
    --main-btn-color: #ffffff;
    --secondary-btn-color: #FF7C00;

    --main-btn-bg: #FF7C00;
    --secondary-btn-bg: none;

    --main-btn-border: none;
    --secondary-btn-border: 2px solid #FF7C00;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#loading{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5625rem;
    z-index: 100;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: #1e002c;      
}

#loading img{
    width: 80%;
    max-width: 300px;
}

#loading #dots #loader{
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
}

@keyframes l5{
    0%  {box-shadow: 20px 0 #FF7C00, -20px 0 #E2FF00;background: #F7390C }
    33% {box-shadow: 20px 0 #F7390C, -20px 0 #FF7C00;background: #E2FF00}
    66% {box-shadow: 20px 0 #E2FF00,-20px 0 #F7390C; background: #FF7C00}
    100%{box-shadow: 20px 0 #F7390C,-20px 0 #FF7C00; background: #E2FF00 }
}

@keyframes popdown{
    0% {opacity: 0; transform: translate(-50%, -100px);}
    100% {opacity: 1; transform: translateY(-50%, 0)}
}

@keyframes popup{
    0% {opacity: 0; transform: translate(-50%, 100px);}
    100% {opacity: 1; transform: translateY(-50%, 0)}
}

body{
    background-color: var(--bg-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.title{
    font: var(--title-font);
    color: var(--title-color);
}

.subtitle{
    font: var(--subtitle-font);
    color: var(--text-color);
}

.text{
    font: var(--text-font);
    color: var(--text-color);
}

.title, .subtitle, .text{
    padding: 0 0.625rem;
}

button{
    border-radius:  var(--el-borderRadius);
    width: 100%;
    height: 2.1875rem; 
    cursor: pointer;
    font-weight: bold;
    transition: .1s all ease-in-out;
    padding: 0 1.25rem;
}

button:not(#logoutBtn){
    max-width: 12.5rem;
}

button:disabled{
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
}

.main-btn{
    color: var(--main-btn-color);
    background: var(--main-btn-bg);
    border: var(--main-btn-border);
}

.secondary-btn{
    color: var(--secondary-btn-color);
    background: var(--secondary-btn-bg);
    border: var(--secondary-btn-border);
}

button:hover{
    --main-btn-bg: #5d00ba;
    --secondary-btn-color: #5d00ba;
    --secondary-btn-border: 2px solid #5d00ba;
}

#logoutBtn{
    border-color: var(--title-color);
}

.success{
    color: rgb(0, 197, 0);
    fill: rgb(0, 197, 0);
}

.error{
    color: red;
    fill: red;
}

.note{
    color: #ff6f00;
    fill: #ff6f00;
}

.warn{
    color: yellow;
    fill: yellow;
}

input{
    border: none;
    background-color: var(--el-bg-color);
    width: 100%;
    /*max-width: 18.75rem;*/
    height: 2.1875rem;
    border-radius: var(--el-borderRadius);
    color: #ffffff;
    font-weight: bold;
    padding: 0 1.25rem;
    box-shadow: var(--el-shadow);
}

input:focus{
    border: var(--main-btn-border);
}

input::placeholder{
    color: #ffffff;
}

.icon{
    fill: var(--title-color);
}

#auth{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
    background-color: #ae00ff13;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

#auth #login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.25rem;
    padding: 1.25rem;
    border-radius: var(--box-borderRadius);
    background-color: var(--box-bg-color);
    box-shadow: var(--box-shadow);
    width: 100%;
    max-width: 25rem;
    height: 28.125rem;
}

#auth #login img{
    width: 75%;
    max-width: 500px;
}

#auth #login .title{
    text-align: center;
    width: 90%;
}

#auth #login form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    width: 100%;
}

#static{
    height: 100%;
    width: 18.75rem;
    background-color: var(--el-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 0;
    overflow-y: auto;
}

#static *{
    color: var(--title-color);
}

#static > div{
    width: 90%;
    /*height: 100px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#humburger{
    display: none;
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#header > div{
    display: flex;
    align-items: center;
    justify-content: center;
}

#header #bars{
    flex-grow: 1;
    width: 0;
}

#header #logo{
    flex-grow: 2;
}

#header #spc{
    flex-grow: 1;
    display: none;
}

#header #logo img{
    width: 100%;
}

#member{
    display: grid !important;
    grid-template-areas: "pfp displayName displayName displayName"
                         "pfp department department points"
                         "pfp position position points";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: left;
    align-items: center;
    width: 100%;
}

#member #pfp img{
    border-radius: 50%;
    width: 100%;
}

#member #pfp{
    grid-area: pfp;
    overflow: hidden;
    border-radius: 50%;
    background-color: var(--title-color);
    aspect-ratio: 1;
}

#member #displayName{
    grid-area: displayName;
}

#member #department{
    grid-area: department;
}

#member #position{
    grid-area: position;
}

#member #points{
    grid-area: points;
}

#navbar, #menu{
    gap: 20px;
}

#navbar > *, #menu > *:not(button){
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 50px;
}

#navbar > *:hover, #menu > *:hover{
    background-color: #7800af7b;
}

.link.active{
    background-color: var(--bg-color);
}

#dynamic{
    height: 100%;
    width: calc(100% - 18.75rem);
    background-color: var(--bg-color);
    padding: 1.25rem 0.625rem;
}

dialog.alert{
    z-index: 60;
    min-width: 350px;
    width: auto;
    max-width: 700px;
    position: fixed;
    top: calc(100vh - 100px);
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--el-bg-color);
    border: none;
    border-radius: var(--box-borderRadius);
    box-shadow: var(--box-shadow);
    padding: 10px 5px;
    animation: popup .1s linear;
}

dialog.alert > *{
    width: 100%;
}

dialog.alert .type > *{
    float: right;
    padding-right: 5px;
}

@media screen and (min-width: 50px) and (max-width: 767px){
    /*Mobile Device Screens*/
    #auth #login{
        height: 100%;
        max-width: 100%;
        border-radius: 0;
    }
    #humburger{
        display: inline-block;
        cursor: pointer;
    }
    #static{
        position: fixed;
        top: 0;
        left: -100%;
        justify-content: space-between;
        padding: 60px 0;
        z-index: 80;
        transition: .1s all ease-in-out;
    }
    #static #header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 3.125rem;
        z-index: 70;
        flex-direction: row;
    }
    #header #logo img{
        width: 10.625rem;
    }
    #header #spc{
        display: inline-block;
    }
    #static #navbar{
        position: fixed;
        flex-direction: row !important;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 3.125rem;
        z-index: 70;
    }
    #static #navbar > div{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        height: 90%;
    }
    #static #navbar > div > span{
        display: none;
    }
    #header, #navbar{
        background-color: var(--el-bg-color);
    }
    #dynamic{
        width: 100%;
        height: calc(100% - 6.25rem);
    }
    dialog.alert{
        top: 70px;
        width: 90%;
        animation: popdown .1s linear;
    }
}
  
@media screen and (min-width: 767px) and (max-width: 991px){
    /*Large Screens*/
    #static{
        width: 30vw;
    }
    #dynamic{
        width: 70vw;
    }
}